@font-face {
  font-family: 'lanbling';
  src: url('./Sauce Code Powerline Light.otf');
}
body {
  background: green;
}

.code {
  font-size: 16px;
  color: #333;
  font-family: 'lanbling';
}
#img{
  position: relative;
}